html, body {
    background-color: rgb(32, 32, 32);
    margin: 0px;
    height: 100%;
    /*overflow: hidden;*/
}

/*this will be changed depending of the situation */ 

/*this is "initial" situation*/
.main{ /* full*/
    position: absolute;
    z-index: 2;
    top: 5%;
    margin-left: 280px;
    width: calc(100% - 280px);
    height: calc(100% - 43px); 
    border: none;
}

/*this is "game" situation*/
.main_{
    z-index: 2;
    position: absolute;

    top: 10%;
    margin-left: 280px;
    width: calc(100% - 280px);
    height: calc(100% - 90px); 
    border: none;
}



