html,
body {
  background-color: rgb(85, 85, 85);
  margin: 0px;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif !important;
}

h1,
h2 {
  margin: 0;
  margin-bottom: 2%;
  padding: 1%;
  background-color: rgb(141, 141, 141);
  ;
}

.Main_Common,
.Main_Inbox,
.Main_Outbox {
  position: absolute;
  width: 100%;
  height: 90%;

  background-color: rgb(85, 85, 85);
  box-sizing: border-box;
  border: solid;
  border-radius: 2px;
}

.Main_Common {
  top: 6%;

  border-color: blue;
}

.Main_Inbox {
  top: 96%;

  border-color: lightgreen;
}

.Main_Outbox {
  top: 186%;

  border-color: red;
}

.column {
  float: left;
  width: 50%;
  height: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.GaugeTextAlign {
  position: absolute;
  left: 40%;
  margin: 0;

    font-size: 1.2em;
  font-family: 'Courier New', Courier, monospace;
}

/* Gauge CSS */
.gauge-container {
  position: relative;
  height: 20%;
  width: 40%;
  top: 0;
  padding-left: 20%;
}

.gauge-container>.gauge .dial {
  stroke: #eee;
  stroke-width: 5;
  fill: rgba(0, 0, 0, 0);
}

.gauge-container>.gauge .value {
  stroke: rgb(50, 24, 199);
  stroke-width: 5;
  fill: rgba(0, 0, 0, 0);
}

.gauge-container>.gauge .value-text {
  fill: rgb(255, 255, 255);
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 0.8em;
}