html, body {
    background-color: rgb(85, 85, 85);
    margin: 0px;
}

.Main_Common{
    position: absolute;

    top: 6%;
    width: 100%;
    height: 90%;

    background-color:rgb(85, 85, 85);
    box-sizing: border-box;
    border:solid;
    border-radius: 2px;
    border-color:blue;
}

.Main_Inbox{
    position: absolute;

    top:96%;
    width: 100%;
    height: 90%;

    background-color:rgb(85, 85, 85);
    box-sizing: border-box;
    border-style: groove;
    border-radius: 2px;
    border-color:lightgreen;
}

.Main_Outbox{
    position: absolute;

    top:186%;
    width: 100%;
    height: 90%;

    background-color:rgb(85, 85, 85);
    box-sizing: border-box;
    border-style: groove;
    border-radius: 2px;
    border-color: red;
}